html,
body {
  background: #fff;

  height: 100%;
  min-height: 100%;

  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;

  font-family: Helvetica, arial !important;

  -webkit-overflow-scrolling: touch;
}

a {
  color: inherit;
  text-decoration: none;
}
